#row  {
	    display: table-row;
	}

	#left2, #right2, #middle2 {  
	    display: table-cell;
		padding-left: 1px;
	}
	
	#left1 ,#right1, #middle1 {  
	    display: table-cell;
		padding-right: 22px;
	}   

	#left, #right, #middle {  
	    display: table-cell;
		padding-left: 14px;
	} 
	
	#left3, #right3, #middle3 {  
	    display: table-cell;
		padding-left: 14px;
	} 
	
	#retest {  
	    
		padding-left: 114px;
	} 
	
	#mainConsole
{
    border-radius: 5px;
	width:280px;
    height:260px;
    background-color:LightGray;
    overflow-y: auto;
    max-width:280px;
    max-height:260px;
    padding-top: 1px;
}

div.innerConsole {
    padding: 10px;
	
}
div.lightsConsole {
    margin: 10px;
	
}

div.realbalance {
	
	font-size: 26px;
	color: #3c763d;
	font-weight: bold;
}

   